@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

h1{
  text-align: center;
  /* e5771f #fca156*/
  /* background-color: #f89448; 4b7674*/
  background-color: #203939;
  /* font-family: "Monoton"; */
  font-family: 'Cambria';
  font-weight: bold;
  font-size: 6rem;
  text-transform: uppercase;
  /* font-weight: 400; */
  word-spacing: 35px;
  letter-spacing: 1px;
  padding: 0.25em;
  color: rgba(241, 233, 233, 0.974);
}

h2{
  color: rgba(241, 233, 233, 0.974);
}

.add-form{
  /* background-color: antiquewhite; */
  background-color: #4b7674;
  padding: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: white;
  color: rgba(241, 233, 233, 0.909);
}

h3{
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button, select, input{
  background-color: rgb(241, 233, 233);
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
  border: 1.2px solid #031d38;
}

button:hover, select:hover{
  background-color: #d7e1fb;
}

.add-from button{
  text-transform: uppercase;
  background-color: #76c7ad;
}

.pagination{
  font-family: 'Verdana';
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats{
  font-family: 'Arial';
  /* background-color: antiquewhite; */
  background-color: #203939;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  font-size: 1.5rem;
  color: rgba(229, 213, 213, 0.852);
}

.stats h3{
  color: rgba(255, 255, 255, 0.866);
}


.addToDoForm{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #4b7674;
  font-family: 'Times New Roman', Times, serif;
  
}

.addToDoForm h2{
  font-size: 40px;
  padding-bottom: 10px;
}

.addToDoForm
.form{
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-group{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  
}

.form-group label{
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}


.form-group input,
.form-group select{
  background-color: rgba(241, 233, 233, 0.944);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
  width: 100%;
  color: black;
  
}

.checkbox-container{
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checkbox-container input[type="checkbox"]{
  margin-right: 8px;
  width: 22px;
  height: 22px;
  accent-color: #05274b;
  border: 6px solid #031d38;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;

}


.checkbox-container label{
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}

.form button{
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 5px;
}

.form button:hover{
  background: #0056b3;
}

.form .cancel:hover{
  background: #dc3545;
}
